name: Continuous Message

on:
  workflow_dispatch: # Allows manual triggering
  schedule:
    - cron: '*/1 * * * *' # Runs every minute

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Run print_message script
        run: python print_message.py
